<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.mapper.VehicleTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hz.pojo.VehicleType">
        <id column="vehicle_type_id" property="vehicleTypeId" />
        <result column="vehicle_type_name" property="vehicleTypeName" />
        <result column="vehicle_type_weight" property="vehicleTypeWeight" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        vehicle_type_id, vehicle_type_name, vehicle_type_weight
    </sql>

</mapper>
